<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961071850086-panos0rsogh6vkuva86448e2lbahseaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961071850086-panos0rsogh6vkuva86448e2lbahseaf</string>
	<key>API_KEY</key>
	<string>AIzaSyCfx7V9oKxtLUNlGWf-XWQeucGbXwxoVjc</string>
	<key>GCM_SENDER_ID</key>
	<string>961071850086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testdeptech</string>
	<key>PROJECT_ID</key>
	<string>test-deptech</string>
	<key>STORAGE_BUCKET</key>
	<string>test-deptech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961071850086:ios:d5b3f1884ccb17d69503a7</string>
</dict>
</plist>